---
import PageHeader from "@components/common/PageHeader.astro";
import Calculator from "@components/tools/take-home-calculator/Calculator.svelte";
import BaseLayout from "../../layouts/Layout.astro";

const title = "Take-Home Pay Calculator";
const description =
	"Calculate your exact take-home pay after tax and National Insurance with this handy calculator";
---
<BaseLayout
  title={title}
  description={description}
>
  <PageHeader
    title={title}
    subtitle={description}
    breadcrumbs={[
      {
        text: "Tools",
        href: "/tools",
      }
    ]}
  />

  <main class="max-w-5xl mx-auto px-4 my-8">
    <Calculator client:load />
  </main>
</BaseLayout>
