---
import { getCollection } from "astro:content";
import Hero from "@components/Hero.astro";
import Tools from "@components/parts/Tools.astro";
import Layout from "../layouts/Layout.astro";

const allPages = await getCollection("pages", ({ data }) => {
	return data.type === "section";
});
---
<Layout
  description="Money Manual is an encyclopedia for everything relating to money, finance and the economy."
>
  <Hero />

  <main class="max-w-5xl mx-auto px-4 mt-8">
    <section class="mt-8 mb-12">
      <h2 class="text-2xl font-bold my-4">Tools</h2>

      <Tools />
    </section>

    <section class="my-12">
      <h2 class="text-2xl font-bold my-4">Topics</h2>
      
      <ul class="md:w-4/5">
        {allPages.map(page => (
        <li class="border-t">
          <a class="group py-4 block" href={`/${page.id}`}>
            <h3 class="text-xl font-bold text-teal-700 group-hover:text-teal-900 underline mb-2">{page.data.title}</h3>
            <p class="text-lg font-medium">{page.data.description}</p>
          </a>
        </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
