---

---
<header class="text-white bg-teal-900 w-full py-12">
  <div class="max-w-5xl mx-auto px-4">
    <h1 class="text-3xl font-bold max-w-3xl mb-6">Money Manual is your go-to resource for everything about money, personal finance and the British economy.</h1>
  
    <p class="text-xl">This website is completely free and full of useful information to better understand how to save up, pay off debts and achieve your goals.</p>
  
    <form class="mt-8 pt-8 border-t border-white/50">
      <label class="text-lg font-bold mb-2 block">Find a topic</label>

      <input class="block text-xl bg-white text-black w-128 p-2 border-4 focus:border-black border-transparent outline-yellow-500" type="text" />
    </form>
  </div>
</header>
