---
import { getCollection } from "astro:content";
import "../styles/global.css";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.svelte";

interface Props {
	title?: string;
	description: string;
}

const { title, description } = Astro.props;

const allPages = await getCollection("pages", ({ data }) => {
	return data.type === "section";
});
---
<!doctype html>
<html lang="en" class="scroll-pt-4">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - MoneyManual.org.uk` : 'Welcome to MoneyManual.org.uk'}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
	<body class="bg-white text-zinc-950 min-h-svh flex flex-col">
    <Navbar topics={allPages.map(page => ({
        title: page.data.title,
        href: `/${page.id}`,
        description: page.data.description,
    }))} client:load />

    <div>
      <slot />
    </div>

    <Footer />
  </body>
</html>
