---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - MoneyManual.org.uk` : 'Welcome to MoneyManual.org.uk'}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex" />
  </head>
	<body class="bg-white text-zinc-950">
    {import.meta.env.prod && (<div class="w-full p-4 bg-yellow-400 font-bold text-black">
      SITE UNDER CONSTRUCTION - COME BACK SOON!
    </div>)}

    <Navbar />  
  
    <slot />

    <Footer />
  </body>
</html>
